<template>
  <div id="app">
    <p>jaajajajajaajaja</p>
    <!-- <v-carousel>
      <v-carousel-item>
        <img
          src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg"
          alt
        >
      </v-carousel-item>
      <v-carousel-item>
        <img
          src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg"
          alt
        >
      </v-carousel-item>
    </v-carousel>-->
  </div>
</template>
