<template>
  <div class="about">
    <h1>This is an about page</h1>
    <img src="https://s1.qwant.com/thumbr/0x0/3/a/5586b18b908e67208ea77112ecf1384fdcd2166f225cddb9d5cfe64a77a703/290px-Luscinia_svecica_20140516.JPG?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fa%2Fa9%2FLuscinia_svecica_20140516.JPG%2F290px-Luscinia_svecica_20140516.JPG&q=0&b=1&p=0&a=1" alt="">
  </div>
</template>
