<template>
  <v-carousel>
      <v-carousel-item>
        <img
          src="https://s1.qwant.com/thumbr/0x380/9/3/272bd02412d87515300463ec28de9236a58400a05f9347955c72d00e687744/57395c6b7c006_forgewelding1.jpg.bb5526b5016f479e5fddd2c6eb99d2fc.jpg?u=https%3A%2F%2Fwww.iforgeiron.com%2Fuploads%2Fmonthly_2016_05%2F57395c6b7c006_forgewelding1.jpg.bb5526b5016f479e5fddd2c6eb99d2fc.jpg"
          alt
        >
      </v-carousel-item>
      <v-carousel-item>
        <img
          src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg"
          alt
        >
      </v-carousel-item>
  </v-carousel>
</template>

<script>
import HelloWorld from "../components/HelloWorld";

export default {
  components: {
    HelloWorld
  }
};
</script>
