<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
    >
      <v-list dense>
        <v-list-item :to="link0">
          <v-list-item-action>
            <v-icon>mdi-book-open-page-variant</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Accueil</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item :to="link1">
          <v-list-item-action>
            <v-icon>mdi-book-open-page-variant</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Catalogue</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item :to="link2">
          <v-list-item-action>
            <v-icon>mdi-contact-phone</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>contactez-nous</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Ferronnerie la noisette</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col class="shrink">
          </v-col>
        </v-row>
        <router-view></router-view>
      </v-container>
    </v-content>

    <v-footer app>
      <span>&copy; 2019</span>
      <v-spacer></v-spacer>
      <span>0587534001</span>
    </v-footer>
  </v-app>
</template>

<script>
import Contact from "./views/Contact.vue";
  export default {
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
      link0:"/",
      link1: "/catalogue",
      link2: "/contact"
    }),
    created () {
      this.$vuetify.theme.dark = true
    },
  }
</script>
